
<html>
    <head>

    </head>
    <body>
        <h2>Account Index Page</h2>
        <h3>Welcome to the Account Index page of Bookify!</h3>
        <h4>Please log in if you have an account, or sign up if you do not have an existing account!</h4>
        <a href="/account/login">log in</a>
    </body>
</html>